@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #122241;
    --color-brand-light: #e1f1fd;
    --color-secundary: #be1e2d;
    --color-heading: #1c1c1c;
    --color-hover: #be1e2d;
    --color-text: #4e5063;

    --font-sans: "Poppins", sans-serif;

    --text-h1: 68px;
    --text-h2: 42px;
    --text-h3: 22px;
    --text-h4: 18px;
    --text-p: 16px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body.active {
    max-height: 100vh;
    overflow: hidden;
  }

  ::selection {
    background: #122241;
    color: #fff;
  }

  img {
    max-width: 100%;
    user-select: none;
  }

  h1 {
    font-size: var(--text-h1);
    line-height: 1.1;
    font-weight: 600;
    color: var(--color-heading);
    font-family: var(--font-sans);
  }

  h2 {
    font-size: var(--text-h2);
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-heading);
    font-family: var(--font-sans);
  }

  h3 {
    font-size: var(--text-h3);
    font-weight: 500;
    color: var(--color-heading);
    line-height: 1.3;
    font-family: var(--font-sans);
  }

  h4 {
    font-weight: 500;
    font-size: var(--text-h4);
    color: var(--color-heading);
    font-family: var(--font-sans);
  }

  p {
    font-size: var(--text-p);
    color: var(--color-text);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-sans);
  }

  a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-sans);
  }

  a:hover {
    color: var(--color-hover);
  }
}

@layer components {
  .container {
    max-width: 1250px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.swiper-slide-active .testimonials-card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1250px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  h4 {
    font-size: 16px;
  }
  .container {
    padding: 0 20px !important;
  }
  .swiper-slide-active .testimonial-card {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
}

.rich-text ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.rich-text ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.rich-text p {
  margin-bottom: 0.5em;
}

.rich-text strong {
  font-weight: 600;
}

.rich-text em {
  font-style: italic;
}

.rich-text u {
  text-decoration: underline;
}
