* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size: 13px !important;
  font-family: Arial, sans-serif;
}
.s1 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11.5pt;
}
h1 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 11.5pt;
}
.s3 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 22.5pt;
}
.p,
p {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11.5pt;
  margin: 0pt;
}
.s4 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 11pt;
}
.s5 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
}

.page-break {
  break-before: page;
}

/* Default styles for unordered list */
ul {
  display: block;
  list-style-type: disc;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

/* Default styles for ordered list */
ol {
  display: block;
  list-style-type: decimal;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

/* Default for list items (li) inside lists */
li {
  display: list-item;
  text-align: match-parent;
}
